body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(11, 67, 221);
  color: white;
  padding: 10px 20px;
  z-index: 1000;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.indice {
  display: flex;
  flex-direction: column;
  margin: 0 0;
  list-style: upper-roman;
}
main {
  margin-top: 60px; /* ajuste para a altura do cabeçalho */
  padding: 20px;
}
h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
p {
  line-height: 1.5;
}
ol {
  list-style-type: decimal;
  margin-left: 2em;
}
footer {
  background-color: rgb(11, 67, 221);
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}
